{% extends 'layout.html' %}

{% block title %}{{ modelo['Nombre'] }}{% endblock %}

{% block content %}
<h2>{{ modelo['Nombre'] }}</h2>
<p>{{ modelo['Descripcion'] }}</p>

<p><strong>Fuente de Información:</strong> 
    {% if modelo['FuenteInformacion'] %}
        <a href="{{ modelo['FuenteInformacion'] }}" target="_blank">{{ modelo['FuenteInformacion'] }}</a>
    {% else %}
        No disponible.
    {% endif %}
</p>

{% if modelo['ImagenURL'] %}
    <img src="{{ modelo['ContenidoGrafico'] }}" alt="Imagen del modelo" style="max-width: 500px;">
{% else %}
    <p>No hay imagen disponible.</p>
{% endif %}
{% endblock %}
